<div class="container">
  <div class="row">
    <button class="btn btn-success" routerLink="/assignment">Go to Assignment</button>
  </div>
  <div class="col-xs-6">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <form (ngSubmit)="onSubmit()" #form="ngForm">
          <div id="user-section" ngModelGroup="userData">
            <div class="form-group">
              <label>Username:</label>
              <input type="text" class="form-control" id="username" name="username" ngModel required #username="ngModel">
              <p class="text-danger" *ngIf="!username.valid && username.touched" >Username is a required field</p>
            </div>
            <button class="btn btn-default" type="button" (click)="suggestUsername()">Suggest Username</button>
            <div class="form-group">
              <label>Email:</label>
              <input type="email" class="form-control" id="email" name="email" ngModel required email #email="ngModel">
              <span class="text-danger" *ngIf="!email.valid && email.touched">Please enter a valid email</span>
            </div>
          </div>
          <div class="form-group">
            <label>Security Question:</label>
            <select class="form-control" id="security-qstn" name="secret" [ngModel]="qstn">
              <option value="pet">What was the name of your first pet?</option>
              <option value="city">Where were you born?</option>
            </select>
          </div>
          <div class="form-group">
            <label>Answer:</label>
            <input type="text" class="form-control" id="ans" name="ans" [(ngModel)]="answer" #ans="ngModel">
          </div>
          <p>Your answer to secret question is {{ answer }}</p>
          <div class="radio" *ngFor="let gen of genders">
            <label>
              <input type="radio"
                     name="gender"
                     ngModel
                     [value]="gen">
              {{gen}}
            </label>
          </div>
          <button type="submit" class="btn btn-primary" [disabled]=" !form.valid ">Submit</button>
        </form>
      </div>
    </div>
    <hr />
    <div class="row" *ngIf="user.username !== ''">
      <div class="col-xs-12">
        <h3>Your Data</h3>
        <p>Username: {{user.username}} </p>
        <p>Email: {{user.email}} </p>
        <p>Secret Question: {{user.question}} </p>
        <p>Answer: {{user.answer}} </p>
        <p>Gender: {{user.gender}} </p>
      </div>
    </div>
  </div>
  <div class="col-xs-6">
    <router-outlet></router-outlet>
  </div>
</div>

