<form [formGroup]="projectForm">
  <div class="form-group">
    <label for="projName">Project Name:</label>
    <input type="text" class="form-control" id="projName" formControlName="projName">
    <span class="text-danger"
    *ngIf="projectForm.get('projName').invalid && projectForm.get('projName').touched && projectForm.get('projName').errors['required']">
      Project name is mandatory</span>
    <span class="text-danger"
          *ngIf="projectForm.get('projName').invalid && projectForm.get('projName').touched && projectForm.get('projName').errors['invalidProject']">
      Invalid project name!</span>
  </div>
  <div class="form-group">
    <label for="email">Email:</label>
    <input type="email" class="form-control" id="email" formControlName="email">
    <span class="text-danger"
          *ngIf="projectForm.get('email').invalid && projectForm.get('email').touched">
      Project enter a valid email id.</span>
  </div>
  <div class="form-group">
    <label>Status</label>
    <select id="status" formControlName="status" class="form-control" [ngModel]="status">
      <option value="Stable">Stable</option>
      <option value="Critical">Critical</option>
      <option value="Finished">Finished</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
